# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# lock
*.lock

# Executables
*.swf
*.air
*.ipa
*.apk

# Astro
.astro/
dist/
node_modules/

# Mac File System File
.DS_Store


# AWS stuff for publishing static files
.aws-credentials.json
.awspublish*
resources/
.idea/
